<div class="container">
    <app-sidebar class="sidebar"></app-sidebar>
    <div class="product-card" *ngIf="product != null">
        <div class="image">
            <img [src]="product.publicImageUrl" />
        </div>
        <div class="info">
            <p class="title">{{ product.name }}</p>
            <p class="description">{{ product.description }}</p>
            <p class="price">{{ product.price | currency: 'BRL' }}</p>
            <button>Add to cart</button>
        </div>
    </div>
</div>